<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}미디어팩트 신문{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <h1><a href="/">미디어팩트 신문</a></h1>
        <nav>
            <div class="nav-bar-flex">
            <div class="nav-left">
                <a href="/photo" class="nav-photo">사진 갤러리</a>
            </div>
            <div class="nav-center">
                {% for category in categories %}
                    <a href="/category/{{ category['분류번호'] }}" class="nav-category">{{ category['분류명칭'] }}</a>
                {% endfor %}
            </div>
            <div class="nav-right">
                <form action="/search" method="get" class="nav-search">
                    <input type="text" name="q" placeholder="검색어를 입력하세요" value="{{ query|default('') }}">
                    <button type="submit">검색</button>
                </form>
            </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <small class="footer-center">© 미디어팩트 신문</small>
    </footer>
</body>
</html>
